body {
    margin: 0;
    background-color: gray;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    .app {
        height: 100vh;
        width: 100vw;
        max-width: 80em;

        .navbar {
            height: 10%;

            .navbar-brand {
                font-size: 2em;
            }

            .nav-link {
                padding-bottom: 0;
            }
        }


        main {
            height: 90%;
            width: 100%;
            display: flex;
            justify-content: center;

            .new-user-form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 90%;
            }

            .new-post-btn {
                position: absolute;
                bottom: 2em;
                right: 2em;
            }

            .write-form-container {
                width: 30em;
                height: 30em;
                display: flex;
                align-items: center;
                flex-direction: column;

                textarea {
                    width: 80%;
                    height: 20em;
                    margin: 1em 0 2em;
                }
            }
        }
    }
}